:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, ul, li{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-style: normal;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}

.container{
    width: 320px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0 auto;
}

.header-container{
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
    display: flex;
    border-bottom: 1px solid var(--cornflower);
    align-items: center;
}

.logo-text-one{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    font-family: var(--second-family);
}

.logo-text-two{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    font-family: var(--second-family);
}

.mobile-menu-button{
    display: flex;
    background:transparent;
    border: none;
    cursor:pointer;
    width: 24px;
    height: 24px;
    padding:4px 3px 4px 3px;
    margin-left: auto;
}

.mobile-spans{
    display: flex;
    flex-direction: column;
    gap:3px;
    width: 100%;
    height: 100%;
}


.mobile-menu-button-span{
    display: block;
    height: 4px;
    width: 100%;
    background-color: #2e2f42;
    border-radius: 2px;
}

.header-nav-list{
    display: none;
}

.header-address-list{
    display: none;
}

.mobile-menu .is-open{
    opacity: 1;
    pointer-events: all;
}


.mobile-menu{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 100vh;
    background: white;
    padding-left: 16px;
    opacity:0;
    pointer-events: none;
}

.mobile-menu-exit-btn-container{
    position: relative;
}

.mobile-menu-exit-btn{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    border: 1px solid var(--navy-blue);
    background-color: var(--cornflower);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-list{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-menu-item a{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.mobile-menu-item a:hover{
    color: var(--ocean);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mobile-menu-address-item a{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address-item a:hover{
    color: var(--ocean);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link-list{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

.mobile-menu-social-link{
    width: 40px;
    height: 40px;
    border:none;
    background-color: var(--iris);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-link:hover{
    background-color: var(--green);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay{
    position: fixed;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    top:0;
    left:0;
    background-color: var(--navy-blue-modal);
    opacity: 0;
    pointer-events: none;
}

.modal-overlay .is-open{
    opacity: 1;
    pointer-events: all;
}

.modal{
    position: absolute;
    width: 288px;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--dairy);
    padding: 72px 16px 24px 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-btn-container{
    position:relative;
}

.modal-exit-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: var(--cornflower);
    border: 1px solid var(--navy-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-header{
    max-width: 256px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin: 0 auto 16px auto;
}

.input-container{
    position: relative;
    margin-bottom: 8px;
}

.name-label{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.name-input{
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    text-indent: 34px;
}

.input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}

.textarea-input{
    padding: 8px 16px 8px 16px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 16px;
}

.textarea-input::placeholder{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    opacity: 0.5;
}

.checkbox-label-div{
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
    margin-bottom: 24px;
}


.checkbox-label{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.checkbox-label a{
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
    cursor: pointer;
}

.checkbox-label-box{
    display: flex;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}

.checkbox-icon{
    opacity: 0;
}

.checkbox-input:checked + .checkbox-label-div > .checkbox-label-box{
    background-color: var(--ocean);
    border: 1px solid var(--ocean);
    fill: black;
}

.checkbox-input:checked + .checkbox-label-div > .checkbox-label-box .checkbox-icon{
    opacity: 1;
}

.send-button{
    display: block;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    width: 169px;
    height: 56px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    border: none;
}


@media screen and (min-width: 768px){

    .mobile-menu{
        display: none;
    }

    .container{
        width: 768px;
    }
    .header-container{
        max-height: 72px;
    }
    .mobile-menu-button{
        display: none;
    }

    .header-nav-list{
        display: flex;
        margin-left: 120px;
        gap: 40px;
        position:relative;
    }

    .header-nav-item{
        position: relative;
    }

    .header-nav-item a{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-item a:hover{
        color: var(--ocean);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-nav-item::after{
        content: "";
        position: absolute;
        bottom: -24px;
        left: 0px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity:0;
    }

    .header-nav-item:hover::after{
        opacity: 1;
    }

    .header-nav-list:has(.header-nav-item:not(.active):hover) .active::after{
        opacity: 0;
    }

    .active a{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--ocean);
    }

    .active{
        position: relative;
    }

    .active::after{
        content: "";
        position: absolute;
        bottom: -24px;
        left: 0px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 1;
    }

    .active:hover::after{
        content: "";
        position: absolute;
        bottom: -24px;
        left: 0px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background: var(--ocean);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 1;
    }

    .header-address-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-left: 122px;
    }

    .header-address-item a{
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        color: var(--slate);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-address-item a:hover{
        color: var(--ocean);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal{
        top: 96px;
        width: 408px;
    }
}

@media screen and (min-width: 1158px){

    .mobile-menu{
        display: none;
    }

    .container{
        width: 1440px;
    }

    .header-container{
        padding-left: 156px;
        padding-right: 156px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-container address{
        margin-left: auto;
    }

    .header-address-list{
        gap: 40px;
        flex-direction: row;
    }

    .header-nav-list{
        margin-left: 76px;
        margin-right: auto;
        gap: 40px;
    }
}


.section-one-container{
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(to bottom, rgba(46,47,66, 0.7),rgba(46,47,66, 0.7)), url('./images/people-office-mobile2x.jpg');
    background-position: center;
    background-repeat: no-repeat;
}


.section-one-header{
    max-width: 216px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white);
    margin: 0 auto 72px auto;
}

.section-one-button{
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: var(--iris);
    width: 169px;
    height: 56px;
    border-radius: 4px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: var(--white);
    border:none;
}


@media screen and (min-width: 768px){

    .section-one-container{
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(to bottom, rgba(46,47,66, 0.7),rgba(46,47,66, 0.7)), url('./images/people-office-tablet2x.jpg');
    }
    .section-one-header{
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--white);
        max-width: 496px;
        margin: 0 auto 32px auto;
    }
}


@media screen and (min-width: 1158px){
    .section-one-container{
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(to bottom, rgba(46,47,66, 0.7),rgba(46,47,66, 0.7)), url('./images/people-office1x.jpg');
    }

    .section-one-header{
        margin: 0 auto 48px auto;
    }

}